.boxz {
    height: 300px;
}

.imge {
    max-width: 900px;
}

.box {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 33%;
   display: block;
}

.boxbar img {
    width: 100%;
    height: auto;
}
.bar {
    max-width: 600px;
    border: none;
}

.cut {
    background: url('/linecut.gif');
    height: 3px;
}

.line {
    position: fixed;
    z-index: 100;
    width: 45px;
    bottom: 10px;
    right: 15px;
}

.line img {
    width: 100%;
}

.imgfb {
    width: 686px;
    height: 380px;
}





.dropdown {
    float: right; /* กำหนดให้ dropdown อยู่ทางขวา */
    position: relative; /* ทำให้ dropdown-content สามารถจัดตำแหน่งได้ */
  }
  
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block; /* แสดงเมนูเมื่อ hover */
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
  }
  



.imguser {
    width: 50px;
}

.imguser img{ 
    width: 100%;
}












@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

.line {
    animation: bounce 2s infinite;
}













 





@media screen and (max-width:480px) {
    .bar {
    width: 380px;
    height: 80px;
    }
    .item {
        width: 50%;
       display: block;
    }

    .imgfb {
        width: 100%;
       
    }
    
    
}
