.boxz {
    height: 300px;
}

.imge {
    max-width: 900px;
}

.box {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 33%;
   display: block;
}

.boxbar img {
    width: 100%;
    height: auto;
}
.bar {
    max-width: 600px;
    border: none;
}

.cut {
    background: url('/linecut.gif');
    height: 3px;
}

.line {
    position: fixed;
    z-index: 100;
    width: 55px;
    bottom: 10px;
    right: 15px;
}

.line img {
    width: 100%;
}



@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.line {
    animation: bounce 2s infinite;
}


.dow {
    background-color: aqua;
    height: 100vh;
}









@media screen and (max-width:480px) {
    .bar {
    width: 380px;
    height: 80px;
    }
    .item {
        width: 50%;
       display: block;
    }
    
}